html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

:root {
    /* https://coolors.co/ */
    --color-deep-space-gray: #1E1D1D;
    --color-light-space-gray: #232323;
    --color-light-gray: #F0F0F0;
}

header {
    background-color: var(--color-deep-space-gray);
    height: 100px;
}


.link {
    color: var(--color-light-gray);
    font-size: xx-large;
    text-decoration: none;
}

.link:hover {
    background-color: var(--color-light-space-gray);
}

.navigation-links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.image {
    padding: 70px 503px 70px;
}

.about h2, .about h3, .footer1 h2 {
    margin-block-end: 25px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: normal;
    color: var(--color-light-gray);
    text-align: center;
}

.about, .footer1 {
    background-color: var(--color-deep-space-gray);
    padding-top: 20px;
    padding-bottom: 20px;
}

/* facebook icon*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.footer2 {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer2 p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-light-gray);
    text-align: center;
}


/* contact page */

.question {
    text-align-last: center;
    margin-top: 1em;
}

.data-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3em;
    margin-right: 7em;
    margin-bottom: 3em;
    margin-left: 4em;
}

.textBox {
    height: 3em;
    width: 25em;
    border-radius: 15px;
    border: 2px solid;
    border-color: var(--color-deep-space-gray);
    font-family: serif;
    font-size: unset;
    text-indent: 10px;
}

.textArea {
    height: 8em;
}

.btn {
    height: 4em;
    width: 30em;
    border: 2px solid;
    border-color: var(--color-deep-space-gray);
    border-radius: 15px;
    background-color: var(--color-deep-space-gray);
    color: var(--color-light-gray);
}

.btn:hover {
    background-color: var(--color-light-space-gray);
}

.login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
}