.vlad {
    border: 2px solid red;
}

.btn {
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 284px;
    margin-top: -37px;
    background-color: yellow;
}

.btn:hover {
    color: yellow;
    background-color: black;
    border-color: yellow;
    cursor: pointer;
}